<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ || Belanja Online</title>
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <style>
      .card-body {
        color: black;
      }

      a {
        text-decoration: none !important;
      }
      .faq-content {
        display: flex;
        border-left: solid;
        padding: 10px;
      }
      .faq-header {
        font-size: 30pt;
        margin-right: 20px;
      }
      .faq-isi {
        padding-top: 18px;
      }
      .big-text {
        font-size: 16pt;
      }
    </style>
  </head>
  <body>
    <%- include('../layouts/navbar.ejs'); %>
    <div style="margin: 10% 5%">
      <h1 class="text-center" style="color: darkslategrey">Frequently Asked Question (FAQ)</h1>
      <br />
      <div class="bg-light faq-content">
        <div class="faq-header">Q.</div>
        <div class="faq-isi big-text">
          <p>How do I purchase anything on DAZZLED?</p>
        </div>
      </div>
      <div class="faq-content" style="border-color: aliceblue">
        <div class="faq-header">A.</div>
        <div class="faq-isi">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae incidunt amet illo deleniti aspernatur provident voluptatibus nostrum, laudantium eligendi veniam, magnam doloremque eaque, odit sint. Mollitia voluptas voluptatum voluptates!</p>
        </div>
      </div>
      <br /><br />
      <div class="bg-light faq-content">
        <div class="faq-header">Q.</div>
        <div class="faq-isi big-text">
          <p>How to create an account?</p>
        </div>
      </div>
      <div class="faq-content" style="border-color: aliceblue">
        <div class="faq-header">A.</div>
        <div class="faq-isi">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repudiandae incidunt amet illo deleniti aspernatur provident voluptatibus nostrum, laudantium eligendi veniam, magnam doloremque eaque, odit sint. Mollitia voluptas voluptatum voluptates!</p>
        </div>
      </div>
    </div>
    <%- include('../layouts/footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
